<ion-view title="Community - Cool Friend Group" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="communityCoolFriendGroup-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The best community
        <strong>ever</strong>!</p>
    </div>
    <a ui-sref="giveToCoolFriendGroup" id="communityCoolFriendGroup-button32" class="button button-balanced  button-block">Give Money</a>
    <a ui-sref="requestFromCoolFriendGroup" id="communityCoolFriendGroup-button33" class="button button-balanced  button-block">Request Money</a>
    <a ui-sref="coolFriendGroupMembers" id="communityCoolFriendGroup-button34" class="button button-positive  button-block">Members</a>
    <button id="communityCoolFriendGroup-button35" class="button button-positive  button-block">Stats</button>
    <button id="communityCoolFriendGroup-button51" class="button button-positive  button-block">Requests</button>
    <a ui-sref="editCoolFriendGroupCommunity" id="communityCoolFriendGroup-button50" class="button button-royal  button-block">Edit</a>
  </ion-content>
</ion-view>