<ion-view title="Cool Friend Group - Tamer D." id="page18">
  <ion-content padding="true" class="has-header">
    <ion-list id="coolFriendGroupTamerD-list12"></ion-list>
    <div id="coolFriendGroupTamerD-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">"Giving like there's no tomorrow"</p>

      <p style="color:#000000;">To give is better than to receive.</p>
    </div>
    <div id="coolFriendGroupTamerD-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Given:
        <strong>$500</strong>
      </p>

      <p style="color:#000000;">Received:
        <strong>$50</strong>
      </p>
    </div>
    <button id="coolFriendGroupTamerD-button37" class="button button-balanced  button-block">Request Money for Tamer</button>
    <button id="coolFriendGroupTamerD-button49" class="button button-positive  button-block">Send Message</button>
    <button id="coolFriendGroupTamerD-button48" class="button button-assertive  button-block">Remove from 'My Friends'</button>
  </ion-content>
</ion-view>