<ion-view title="Cool Friend Group - Members" id="page17">
  <ion-content padding="true" class="has-header">
    <ion-list id="coolFriendGroupMembers-list10">
      <ion-item class="item-avatar" id="coolFriendGroupMembers-list-item17" ui-sref="coolFriendGroupTamerD">
        <h2>Tamer Dakhlallah</h2>
        <p>Giving like there's no tmrw</p>
      </ion-item>
      <ion-item class="item-avatar" id="coolFriendGroupMembers-list-item18">
        <h2>John Yessa</h2>
        <p>Heart of gold</p>
      </ion-item>
      <ion-item class="item-avatar" id="coolFriendGroupMembers-list-item20">
        <h2>Dan Smith</h2>
        <p>Love life</p>
      </ion-item>
      <ion-item class="item-avatar" id="coolFriendGroupMembers-list-item21">
        <h2>Jesse Schumacher</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>