<ion-view title="Edit 'Cool Friend Group' Community" id="page11">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="editCoolFriendGroupCommunity-form9" class="list">
      <ion-list id="editCoolFriendGroupCommunity-list15">
        <label class="item item-input" id="editCoolFriendGroupCommunity-input7">
          <span class="input-label">Name</span>
          <input type="text" placeholder="ex. My Friends">
        </label>
      </ion-list>
      <ion-toggle toggle-class="toggle-positive" id="editCoolFriendGroupCommunity-toggle7">Publicly viewable</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="editCoolFriendGroupCommunity-toggle8">Public member list</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="editCoolFriendGroupCommunity-toggle9">Public stats</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="editCoolFriendGroupCommunity-toggle10">Require approval to join</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="editCoolFriendGroupCommunity-toggle11">Goal-oriented</ion-toggle>
      <button id="editCoolFriendGroupCommunity-button39" class="button button-positive  button-block">Transfer ownership</button>
    </form>
  </ion-content>
</ion-view>