<ion-view title="Home" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="home-heading3" style="color:#000000;">Did you know?</h3>
    <div id="home-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">On any given night, there are approximately
        <strong>643,067</strong>
        people experiencing homelessness in America.</p>
    </div>
    <div id="home-markdown7" class="show-list-numbers-and-dots">
      <ul>
        <li>238,110 of those people are in families</li>
        <li>25% suffer from mental illness, including schizophrenia, bipolar disorder, and depression</li>
        <li>17% are considered chronically homeless</li>
        <li>13% are fleeing domestic violence</li>
        <li>12% are veterans</li>
      </ul>
    </div>
    <a ui-sref="menu.myCommunities" id="home-button40" class="button button-positive  button-block">Give to someone in need</a>
  </ion-content>
</ion-view>