<ion-view title="Join New Community" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="joinNewCommunity-form2" class="list">
      <label class="item item-input" id="joinNewCommunity-search1" name="community-search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search for community">
      </label>
      <div class="spacer" style="width: 285px; height: 29px;"></div>
      <div id="joinNewCommunity-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Results for "non-profit"
          <strong>(2)</strong>
        </p>
      </div>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>United Way</h2>
        <p>Live United</p>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Samaritan's Purse</h2>
        <p>International Relief</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>