<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list3">
        <ion-item class="item-icon-left dark" id="menu-list-item12" ui-sref="menu.home" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left dark" id="menu-list-item8" ui-sref="menu.give" menu-close="">
          <i class="icon ion-social-usd"></i>Give</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item7" ui-sref="menu.myCommunities" menu-close="">
          <i class="icon ion-ios-body"></i>Communities</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item9" ui-sref="menu.settings" menu-close="">
          <i class="icon ion-android-settings"></i>Settings</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item11">
          <i class="icon ion-help"></i>Help</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>