<ion-view title="My Communities" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="myCommunities-heading4" style="color:#000000;">Stewarding</h4>
    <ion-list id="myCommunities-list4">
      <ion-item class="item-thumbnail-left" ui-sref="communityCoolFriendGroup">
        <img>
        <h2>Cool Friend Group</h2>
        <p>Best buds</p>
      </ion-item>
    </ion-list>
    <h4 id="myCommunities-heading5" style="color:#000000;">Member of</h4>
    <ion-list id="myCommunities-list14">
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>My Family</h2>
        <p>Helping out my family</p>
      </ion-item>
    </ion-list>
    <ion-list id="myCommunities-list13"></ion-list>
    <div id="myCommunities-button-bar1" class="button-bar">
      <a ui-sref="joinNewCommunity" id="myCommunities-button44" class="button button-positive  button-block">Join Existing</a>
      <a ui-sref="createACommunity" id="myCommunities-button45" class="button button-positive  button-block">Create New</a>
    </div>
  </ion-content>
</ion-view>