<ion-view title="Request $ from 'Cool Friend Group'" id="page10">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="requestFromCoolFriendGroup-form8" class="list">
      <ion-list id="requestFromCoolFriendGroup-list11"></ion-list>
      <form id="requestFromCoolFriendGroup-form7" class="list">
        <label class="item item-input" id="requestFromCoolFriendGroup-input6">
          <span class="input-label">Amount ($)</span>
          <input type="text" placeholder="ex. 100">
        </label>
      </form>
      <label class="item item-select" id="requestFromCoolFriendGroup-select3">
        <span class="input-label">Frequency</span>
        <select>
          <option>One-time</option>
          <option>Every week</option>
          <option>Every month</option>
        </select>
      </label>
      <a ui-sref="communityCoolFriendGroup" id="requestFromCoolFriendGroup-button38" class="button button-balanced  button-block">Request Money</a>
    </form>
  </ion-content>
</ion-view>