<ion-view title="Settings" id="page8">
  <ion-content padding="true" class="has-header">
    <button id="settings-button11" class="button button-positive  button-block">Financial Accounts</button>
    <button id="settings-button22" class="button button-positive  button-block">Notifications</button>
    <button id="settings-button24" class="button button-positive  button-block">Privacy</button>
    <button id="settings-button23" class="button button-assertive  button-block">Delete account</button>
  </ion-content>
</ion-view>